<div class="container">
  <div class="row justify-content-md-center">
    <div
      class="col-md-6 col-md-offset-6"
      style="margin-top: 40px"
      id="panelRegistrar"
    >
      <div class="text-center" style="color: white">
        <h2>
          <small>BIENVENIDO A</small>
          <p><strong>TIENDA VIRTUAL</strong></p>
        </h2>
        <div style="margin-top: 40px">
          <img src="../../../assets/img/logo.png" style="width: 60%" />
        </div>

        <form>
          <div class="row" style="margin-top: 40px !important">
            <div class="form-group col-md-6">
              <a class="tooltips" style="text-decoration: none">
                <input
                  type="email"
                  class="form-text form-control requerido maxlength-input"
                  title="Ingresa tu Correo"
                  minlength="6"
                  maxlength="50"
                  placeholder="Correo"
                  name="correo"
                  [(ngModel)]="usuario.correo"
                  oninput="limitecaracteres(this);"
                />
                <span class="spanValidacion"></span>
              </a>
            </div>
            <div class="form-group col-md-6">
              <a class="tooltips" style="text-decoration: none">
                <input
                  type="password"
                  class="form-text form-control requerido maxlength-input"
                  id="contraseña1"
                  title="Ingresa tu Contraseña"
                  minlength="8"
                  maxlength="20"
                  name="contraseña"
                  placeholder="Contraseña"
                  [(ngModel)]="usuario.password"
                  pattern="^[a-zA-Z0-9ñÑ]+$"
                  data-pattern="Solo se permiten numeros y letras"
                  data-pattern-replace="[^a-zA-Z0-9ñÑ]"
                  oninput="limitecaracteres(this);"
                />
                <span class="spanValidacion"></span>
              </a>
            </div>
            <div
              class="form-group col-md-6"
              style="margin-top: 20px !important"
            >
              <a class="tooltips" style="text-decoration: none">
                <input
                  type="password"
                  class="form-text form-control requerido maxlength-input"
                  id="contraseña2"
                  name="contraseña2"
                  title="Confirme Contraseña"
                  minlength="8"
                  maxlength="20"
                  placeholder="Confirmar Contraseña"
                  [(ngModel)]="usuario.password"
                  data-pattern="Solo se permiten numeros y letras"
                  data-pattern-replace="[^a-zA-Z0-9ñÑ]"
                  oninput="limitecaracteres(this);"
                />
                <span class="spanValidacion"></span>
              </a>
            </div>
            <div
              class="form-group col-md-6"
              style="margin-top: 20px !important"
            >
              <a class="tooltips" style="text-decoration: none">
                <input
                  type="text"
                  class="form-text form-control requerido maxlength-input"
                  title="Nombre Tienda"
                  minlength="5"
                  maxlength="50"
                  placeholder="Nombre Tienda"
                  [(ngModel)]="usuario.nombre_tienda"
                  name="nombre_tienda"
                  pattern="^[a-zA-Z0-9ñÑ\s]+$"
                  data-pattern="Solo se permiten letras y numeros"
                  data-pattern-replace="[^a-zA-Z0-9ñÑ\s]"
                  oninput="limitecaracteres(this);"
                />
                <span class="spanValidacion"></span>
              </a>
            </div>
            <div
              class="form-group col-md-6"
              style="margin-top: 20px !important"
            >
              <a class="tooltips" style="text-decoration: none">
                <input
                  type="text"
                  class="form-text form-control requerido maxlength-input"
                  title="Nombre Tendero"
                  minlength="5"
                  maxlength="50"
                  placeholder="Nombre Tendero"
                  [(ngModel)]="usuario.nombre_tendero"
                  name="nombre_tendero"
                  pattern="^[a-zA-ZñÑ\s]+$"
                  data-pattern="Solo se permiten letras"
                  data-pattern-replace="[^a-zA-Z0-9ñÑ\s]"
                  oninput="limitecaracteres(this);"
                />
                <span class="spanValidacion"></span>
              </a>
            </div>
            <div
              class="form-group col-md-6"
              style="margin-top: 20px !important"
            >
              <a class="tooltips" style="text-decoration: none">
                <input
                  type="text"
                  class="
                    form-text form-control
                    requerido
                    numero
                    maxlength-input
                  "
                  title="Nit"
                  minlength="9"
                  maxlength="15"
                  placeholder="Nit"
                  name="nit"
                  [(ngModel)]="usuario.nit"
                  oninput="limitecaracteres(this);"
                />
                <span class="spanValidacion"></span>
              </a>
            </div>
            <div
              class="form-group col-md-6"
              style="margin-top: 20px !important"
            >
              <a class="tooltips" style="text-decoration: none">
                <input
                  type="text"
                  class="
                    form-text form-control
                    requerido
                    numero
                    maxlength-input
                  "
                  title="Telefono"
                  minlength="7"
                  maxlength="10"
                  placeholder="Telefono"
                  [(ngModel)]="usuario.telefono"
                  name="telefono"
                  oninput="limitecaracteres(this);"
                />
                <span class="spanValidacion"></span>
              </a>
            </div>
            <div
              class="form-group col-md-6"
              style="margin-top: 20px !important"
            >
              <a class="tooltips">
                <select
                  class="form-control requerido"
                  id="selectDepartamentos"
                  title="Departamento"
                  style="width: 100%"
                  name="selectDepartamentos"
                  (ngModelChange)="listarxDepartamento()"
                  [(ngModel)]="municipio.departamento"
                >
                  <option
                    *ngFor="let departamento of listaDepartamentos"
                    [value]="departamento"
                  >
                    {{ departamento }}
                  </option>
                </select>
                <span
                  class="spanValidacion"
                  style="left: 50% !important"
                ></span>
              </a>
            </div>
            <div
              class="form-group col-md-6"
              style="margin-top: 20px !important"
            >
              <a class="tooltips">
                <select
                  class="form-control requerido"
                  id="selectMunicipios"
                  title="Municipio"
                  style="width: 100%"
                  [(ngModel)]="usuario.municipio"
                  name="selectMunicipios"
                >
                  <option
                    *ngFor="let municipio of listaMunicipios"
                    [value]="municipio._id"
                  >
                    {{ municipio.municipio }}
                  </option>
                </select>
                <span
                  class="spanValidacion"
                  style="left: 50% !important"
                ></span>
              </a>
            </div>
          </div>
        </form>
      </div>
      <div style="background-color: #fff; margin-top: 50px">
        <div class="botoniniciar">
          <button
            type="button"
            class="btn btniniciarsesion"
            (click)="signUp()"
            style="height: 46px"
          >
            REGISTRAR
          </button>
        </div>
        <p class="text-center" style="padding-top: 30px; padding-bottom: 30px">
          <a style="color: black; cursor: pointer" [routerLink]="['/login']"
            >Desea Iniciar Sesión?</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
